# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
# *.jpg
# *.jpeg
# *.png
# *.bmp
# *.tif
# *.tiff
# *.heic
# *.JPG
# *.JPEG
# *.PNG
# *.BMP
# *.TIF
# *.TIFF
# *.HEIC
# *.mp4
# *.mov
# *.MOV
# *.avi
# *.data
# *.json

# *.cfg
# !cfg/yolov3*.cfg

# storage.googleapis.com
runs/*
venv/*

mish-cuda
pytorch_wavelets

# # data/*
# !data/hyp.scratch.yaml
# !data/images/zidane.jpg
# !data/images/bus.jpg
# !data/coco.names
# !data/coco_paper.names
# !data/coco.data
# !data/coco_*.data
# !data/coco_*.txt
# !data/trainvalno5k.shapes
# !data/*.sh
data/train*.txt
data/test*.txt
data/val*.txt

# GitHub Python GitIgnore ----------------------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Neural Network weights -----------------------------------------------------------------------------------------------
*.weights
*.pt
*.onnx
*.mlmodel
*.torchscript